* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 17px;
}

.center-align {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.margin-bottom {
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

.flexible-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-button {

    text-decoration: none;
    background-color: rgb(217, 118, 100);
    color: rgb(243, 247, 247);
    padding: 10px 40px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(orange, tomato);
    background-repeat: no-repeat;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/donation13.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    padding-top: 10%;
}

.amount-unselect {
    height: 90px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(204, 223, 240);
    padding-left: 35px;
    padding-right: 35px;
}

.amount-select {
    height: 90px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(225, 153, 169);
    padding-left: 35px;
    padding-right: 35px;
    border: 3px solid rgb(200, 152, 144)
}


#food-a-family {
    background-color: aquamarine;
}

#shelter-a-family {
    background-color: cornsilk;

}

#Education-a-family {
    background-color: bisque;
}

.donation-plan {
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.features {
    gap: 10%;
    margin: 0%;
    padding-top: 10%;
    justify-content: center;
}

/*.email-box {
    position: absolute;
    top: 410%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}*/

footer {
    background-color: black;
    color: wheat;
}

footer h3 {
    color: crimson;
}