* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 17px;
}

.center-align {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.margin-bottom {
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

.flexible-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-button {

    text-decoration: none;
    background-color: rgb(217, 118, 100);
    color: rgb(243, 247, 247);
    padding: 10px 40px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(orange, tomato);
    background-repeat: no-repeat;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/donation13.jpg);
    width: 85%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    padding-top: 10%;
    padding-left: 5%;
}

.amount-unselect {
    height: 90px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(204, 223, 240);
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5px;
}

.amount-select {
    height: 90px;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(171, 30, 5);
    background-color: rgb(225, 153, 169);
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5px;
    border: 5px solid rgb(200, 152, 144)
}



#food-a-family {
    background-color: rgb(177, 244, 222);
}

#shelter-a-family {
    background-color: cornsilk;

}

#Education-a-family {
    background-color: bisque;
}

.donation-plan {
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.features {
    gap: 10%;
    margin: 2%;
    padding-top: 10%;
    justify-content: center;
    padding-right: 8%;
    padding-right: 3%;
}

.email-box {
    width: 50%;
    height: 15%;
    margin-left: 20%;
    margin-right: 1%;
    background-color: rgb(197, 235, 197);
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;


}

input [type="email"] {
    background: darkseagreen;
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0px 25px;
    border-radius: 10px 0 0 10px;
}

input [type="submit"] {
    position: relative;
    left: -50px;
    border-radius: 0 10px 10px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(209, 53, 53);
    color: burlywood;
}

footer {
    background-color: black;
    color: wheat;
    height: 100px;
    padding-top: 2%;
}

footer h3 {
    font-size: 25px;
    color: crimson;
}